.err-container {
	position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background:white;
    color:black;
    font-family:arial, sans-serif;
    overflow:hidden;
    font-size: 20
}

.nomatch-content {
	position: absolute;
	top: calc(50vh - 161px);
	width: 600px;
	max-width: calc(100% - 40px);
	margin: 20px 0;
	background: #fff;
	padding: 60px 40px;
	text-align: center;
	box-shadow: -10px 10px 67px -12px rgba(0,0,0,.2);
	opacity: 0;
	-webkit-animation: apparition .8s cubic-bezier(.39,.575,.28,.995) 1.2s forwards;
	animation: apparition .8s cubic-bezier(.39,.575,.28,.995) 1.2s forwards
}

.nomatch-content p {
	font-size: 1.3rem;
	margin-top: 0;
	margin-bottom: .6rem;
	letter-spacing: .1rem;
	color: #595959
}

.nomatch-content p:last-child {
	margin-bottom: 0
}

.nomatch-content button {
	display: inline-block;
	margin-top: 2rem;
	padding: .5rem 1rem;
	border: 3px solid #595959;
	background: transparent;
	font-size: 1rem;
	color: #595959;
	text-decoration: none;
	cursor: pointer;
	font-weight: 700
}

.particle {
	position: absolute;
	display: block;
	pointer-events: none
}

.particle:first-child {
	top: 25.3968253968%;
	left: 93.2286555447%;
	font-size: 19px;
	-webkit-filter: blur(.02px);
	filter: blur(.02px);
	-webkit-animation: float2 28s infinite;
	animation: float2 28s infinite
}

.particle:nth-child(2) {
	top: 19.536019536%;
	left: 70.6575073602%;
	font-size: 19px;
	-webkit-filter: blur(.04px);
	filter: blur(.04px);
	-webkit-animation: floatReverse2 22s infinite;
	animation: floatReverse2 22s infinite
}

.particle:nth-child(3) {
	top: 81.2575574365%;
	left: 73.0282375852%;
	font-size: 27px;
	-webkit-filter: blur(.06px);
	filter: blur(.06px);
	-webkit-animation: floatReverse2 28s infinite;
	animation: floatReverse2 28s infinite
}

.particle:nth-child(4) {
	top: 95.2147239264%;
	left: 28.5714285714%;
	font-size: 15px;
	-webkit-filter: blur(.08px);
	filter: blur(.08px);
	-webkit-animation: float2 22s infinite;
	animation: float2 22s infinite
}

.particle:nth-child(5) {
	top: 87.1670702179%;
	left: 48.7329434698%;
	font-size: 26px;
	-webkit-filter: blur(.1px);
	filter: blur(.1px);
	-webkit-animation: float 33s infinite;
	animation: float 33s infinite
}

.particle:nth-child(6) {
	top: 89.6551724138%;
	left: 20.7509881423%;
	font-size: 12px;
	-webkit-filter: blur(.12px);
	filter: blur(.12px);
	-webkit-animation: float 38s infinite;
	animation: float 38s infinite
}

.particle:nth-child(7) {
	top: 34.5252774353%;
	left: 32.6409495549%;
	font-size: 11px;
	-webkit-filter: blur(.14px);
	filter: blur(.14px);
	-webkit-animation: float 29s infinite;
	animation: float 29s infinite
}

.particle:nth-child(8) {
	top: 34.188034188%;
	left: 70.6575073602%;
	font-size: 19px;
	-webkit-filter: blur(.16px);
	filter: blur(.16px);
	-webkit-animation: float2 22s infinite;
	animation: float2 22s infinite
}

.particle:nth-child(9) {
	top: 10.7843137255%;
	left: 1.968503937%;
	font-size: 16px;
	-webkit-filter: blur(.18px);
	filter: blur(.18px);
	-webkit-animation: float2 31s infinite;
	animation: float2 31s infinite
}

.particle:nth-child(10) {
	top: 12.7450980392%;
	left: .9842519685%;
	font-size: 16px;
	-webkit-filter: blur(.2px);
	filter: blur(.2px);
	-webkit-animation: float2 34s infinite;
	animation: float2 34s infinite
}

.particle:nth-child(11) {
	top: 75.3977968176%;
	left: 56.0471976401%;
	font-size: 17px;
	-webkit-filter: blur(.22px);
	filter: blur(.22px);
	-webkit-animation: floatReverse2 35s infinite;
	animation: floatReverse2 35s infinite
}

.particle:nth-child(12) {
	top: 79.322853688%;
	left: 43.8169425511%;
	font-size: 27px;
	-webkit-filter: blur(.24px);
	filter: blur(.24px);
	-webkit-animation: float2 25s infinite;
	animation: float2 25s infinite
}

.particle:nth-child(13) {
	top: 16.52490887%;
	left: 76.2463343109%;
	font-size: 23px;
	-webkit-filter: blur(.26px);
	filter: blur(.26px);
	-webkit-animation: floatReverse 34s infinite;
	animation: floatReverse 34s infinite
}

.particle:nth-child(14) {
	top: 36.3190184049%;
	left: 44.3349753695%;
	font-size: 15px;
	-webkit-filter: blur(.28px);
	filter: blur(.28px);
	-webkit-animation: floatReverse2 38s infinite;
	animation: floatReverse2 38s infinite
}

.particle:nth-child(15) {
	top: 41.6464891041%;
	left: 16.5692007797%;
	font-size: 26px;
	-webkit-filter: blur(.3px);
	filter: blur(.3px);
	-webkit-animation: floatReverse 39s infinite;
	animation: floatReverse 39s infinite
}

.particle:nth-child(16) {
	top: 91.7073170732%;
	left: 93.137254902%;
	font-size: 20px;
	-webkit-filter: blur(.32px);
	filter: blur(.32px);
	-webkit-animation: float 26s infinite;
	animation: float 26s infinite
}

.particle:nth-child(17) {
	top: 86.7469879518%;
	left: 94.1747572816%;
	font-size: 30px;
	-webkit-filter: blur(.34px);
	filter: blur(.34px);
	-webkit-animation: floatReverse 40s infinite;
	animation: floatReverse 40s infinite
}

.particle:nth-child(18) {
	top: 81.2729498164%;
	left: 20.6489675516%;
	font-size: 17px;
	-webkit-filter: blur(.36px);
	filter: blur(.36px);
	-webkit-animation: float2 40s infinite;
	animation: float2 40s infinite
}

.particle:nth-child(19) {
	top: 38.4236453202%;
	left: 10.8695652174%;
	font-size: 12px;
	-webkit-filter: blur(.38px);
	filter: blur(.38px);
	-webkit-animation: float 30s infinite;
	animation: float 30s infinite
}

.particle:nth-child(20) {
	top: 82.2249093108%;
	left: 73.0282375852%;
	font-size: 27px;
	-webkit-filter: blur(.4px);
	filter: blur(.4px);
	-webkit-animation: floatReverse2 26s infinite;
	animation: floatReverse2 26s infinite
}

.particle:nth-child(21) {
	top: 3.8787878788%;
	left: 38.0487804878%;
	font-size: 25px;
	-webkit-filter: blur(.42px);
	filter: blur(.42px);
	-webkit-animation: float 30s infinite;
	animation: float 30s infinite
}

.particle:nth-child(22) {
	top: 46.6585662211%;
	left: 60.6060606061%;
	font-size: 23px;
	-webkit-filter: blur(.44px);
	filter: blur(.44px);
	-webkit-animation: floatReverse 34s infinite;
	animation: floatReverse 34s infinite
}

.particle:nth-child(23) {
	top: 55.9509202454%;
	left: 76.8472906404%;
	font-size: 15px;
	-webkit-filter: blur(.46px);
	filter: blur(.46px);
	-webkit-animation: float2 39s infinite;
	animation: float2 39s infinite
}

.particle:nth-child(24) {
	top: 4.9321824908%;
	left: 83.0860534125%;
	font-size: 11px;
	-webkit-filter: blur(.48px);
	filter: blur(.48px);
	-webkit-animation: float 23s infinite;
	animation: float 23s infinite
}

.particle:nth-child(25) {
	top: 42.3124231242%;
	left: 13.8203356367%;
	font-size: 13px;
	-webkit-filter: blur(.5px);
	filter: blur(.5px);
	-webkit-animation: float 29s infinite;
	animation: float 29s infinite
}

.particle:nth-child(26) {
	top: 72.6380368098%;
	left: 15.763546798%;
	font-size: 15px;
	-webkit-filter: blur(.52px);
	filter: blur(.52px);
	-webkit-animation: floatReverse 31s infinite;
	animation: floatReverse 31s infinite
}

.particle:nth-child(27) {
	top: 67.6328502415%;
	left: 40.8560311284%;
	font-size: 28px;
	-webkit-filter: blur(.54px);
	filter: blur(.54px);
	-webkit-animation: floatReverse2 29s infinite;
	animation: floatReverse2 29s infinite
}

.particle:nth-child(28) {
	top: 49.156626506%;
	left: 62.1359223301%;
	font-size: 30px;
	-webkit-filter: blur(.56px);
	filter: blur(.56px);
	-webkit-animation: float 28s infinite;
	animation: float 28s infinite
}

.particle:nth-child(29) {
	top: 16.7076167076%;
	left: 28.5996055227%;
	font-size: 14px;
	-webkit-filter: blur(.58px);
	filter: blur(.58px);
	-webkit-animation: floatReverse 26s infinite;
	animation: floatReverse 26s infinite
}

.particle:nth-child(30) {
	top: 68.8484848485%;
	left: 96.5853658537%;
	font-size: 25px;
	-webkit-filter: blur(.6px);
	filter: blur(.6px);
	-webkit-animation: floatReverse2 22s infinite;
	animation: floatReverse2 22s infinite
}

.particle:nth-child(31) {
	top: 76.0048721072%;
	left: 21.5475024486%;
	font-size: 21px;
	-webkit-filter: blur(.62px);
	filter: blur(.62px);
	-webkit-animation: floatReverse2 27s infinite;
	animation: floatReverse2 27s infinite
}

.particle:nth-child(32) {
	top: 61.7647058824%;
	left: .9842519685%;
	font-size: 16px;
	-webkit-filter: blur(.64px);
	filter: blur(.64px);
	-webkit-animation: float 39s infinite;
	animation: float 39s infinite
}

.particle:nth-child(33) {
	top: 38.7878787879%;
	left: 43.9024390244%;
	font-size: 25px;
	-webkit-filter: blur(.66px);
	filter: blur(.66px);
	-webkit-animation: floatReverse 29s infinite;
	animation: floatReverse 29s infinite
}

.particle:nth-child(34) {
	top: 62.1454993835%;
	left: 59.3471810089%;
	font-size: 11px;
	-webkit-filter: blur(.68px);
	filter: blur(.68px);
	-webkit-animation: float 35s infinite;
	animation: float 35s infinite
}

.particle:nth-child(35) {
	top: 89.4348894349%;
	left: 28.5996055227%;
	font-size: 14px;
	-webkit-filter: blur(.7px);
	filter: blur(.7px);
	-webkit-animation: floatReverse 36s infinite;
	animation: floatReverse 36s infinite
}

.particle:nth-child(36) {
	top: 36.803874092%;
	left: 82.8460038986%;
	font-size: 26px;
	-webkit-filter: blur(.72px);
	filter: blur(.72px);
	-webkit-animation: floatReverse 35s infinite;
	animation: floatReverse 35s infinite
}

.particle:nth-child(37) {
	top: 63.4920634921%;
	left: 50.0490677134%;
	font-size: 19px;
	-webkit-filter: blur(.74px);
	filter: blur(.74px);
	-webkit-animation: floatReverse 28s infinite;
	animation: floatReverse 28s infinite
}

.particle:nth-child(38) {
	top: 71.9319562576%;
	left: 92.8641251222%;
	font-size: 23px;
	-webkit-filter: blur(.76px);
	filter: blur(.76px);
	-webkit-animation: float 30s infinite;
	animation: float 30s infinite
}

.particle:nth-child(39) {
	top: 36.4532019704%;
	left: 26.6798418972%;
	font-size: 12px;
	-webkit-filter: blur(.78px);
	filter: blur(.78px);
	-webkit-animation: float2 39s infinite;
	animation: float2 39s infinite
}

.particle:nth-child(40) {
	top: 54.1062801932%;
	left: 78.7937743191%;
	font-size: 28px;
	-webkit-filter: blur(.8px);
	filter: blur(.8px);
	-webkit-animation: float 30s infinite;
	animation: float 30s infinite
}

.particle:nth-child(41) {
	top: 81.2575574365%;
	left: 69.1333982473%;
	font-size: 27px;
	-webkit-filter: blur(.82px);
	filter: blur(.82px);
	-webkit-animation: float2 35s infinite;
	animation: float2 35s infinite
}

.particle:nth-child(42) {
	top: 87.7108433735%;
	left: 35.9223300971%;
	font-size: 30px;
	-webkit-filter: blur(.84px);
	filter: blur(.84px);
	-webkit-animation: float2 24s infinite;
	animation: float2 24s infinite
}

.particle:nth-child(43) {
	top: 75.7281553398%;
	left: 30.2734375%;
	font-size: 24px;
	-webkit-filter: blur(.86px);
	filter: blur(.86px);
	-webkit-animation: floatReverse2 27s infinite;
	animation: floatReverse2 27s infinite
}

.particle:nth-child(44) {
	top: 9.8039215686%;
	left: 57.0866141732%;
	font-size: 16px;
	-webkit-filter: blur(.88px);
	filter: blur(.88px);
	-webkit-animation: floatReverse2 36s infinite;
	animation: floatReverse2 36s infinite
}

.particle:nth-child(45) {
	top: 49.5145631068%;
	left: 5.859375%;
	font-size: 24px;
	-webkit-filter: blur(.9px);
	filter: blur(.9px);
	-webkit-animation: floatReverse 37s infinite;
	animation: floatReverse 37s infinite
}

.particle:nth-child(46) {
	top: 58.9371980676%;
	left: 36.9649805447%;
	font-size: 28px;
	-webkit-filter: blur(.92px);
	filter: blur(.92px);
	-webkit-animation: float 32s infinite;
	animation: float 32s infinite
}

.particle:nth-child(47) {
	top: 56.3791008505%;
	left: 31.2805474096%;
	font-size: 23px;
	-webkit-filter: blur(.94px);
	filter: blur(.94px);
	-webkit-animation: floatReverse2 36s infinite;
	animation: floatReverse2 36s infinite
}

.particle:nth-child(48) {
	top: 32.3529411765%;
	left: 29.5275590551%;
	font-size: 16px;
	-webkit-filter: blur(.96px);
	filter: blur(.96px);
	-webkit-animation: floatReverse2 22s infinite;
	animation: floatReverse2 22s infinite
}

.particle:nth-child(49) {
	top: 43.3734939759%;
	left: 90.2912621359%;
	font-size: 30px;
	-webkit-filter: blur(.98px);
	filter: blur(.98px);
	-webkit-animation: floatReverse2 24s infinite;
	animation: floatReverse2 24s infinite
}

.particle:nth-child(50) {
	top: 6.7714631197%;
	left: 55.5014605648%;
	font-size: 27px;
	-webkit-filter: blur(1px);
	filter: blur(1px);
	-webkit-animation: floatReverse2 39s infinite;
	animation: floatReverse2 39s infinite
}

.particle:nth-child(51) {
	top: 41.9512195122%;
	left: 19.6078431373%;
	font-size: 20px;
	-webkit-filter: blur(1.02px);
	filter: blur(1.02px);
	-webkit-animation: floatReverse 23s infinite;
	animation: floatReverse 23s infinite
}

.particle:nth-child(52) {
	top: 55.1390568319%;
	left: 92.5024342746%;
	font-size: 27px;
	-webkit-filter: blur(1.04px);
	filter: blur(1.04px);
	-webkit-animation: float 30s infinite;
	animation: float 30s infinite
}

.particle:nth-child(53) {
	top: 49.3946731235%;
	left: 30.2144249513%;
	font-size: 26px;
	-webkit-filter: blur(1.06px);
	filter: blur(1.06px)
}

.particle:nth-child(53),.particle:nth-child(54) {
	-webkit-animation: floatReverse 35s infinite;
	animation: floatReverse 35s infinite
}

.particle:nth-child(54) {
	top: 15.763546798%;
	left: 4.9407114625%;
	font-size: 12px;
	-webkit-filter: blur(1.08px);
	filter: blur(1.08px)
}

.particle:nth-child(55) {
	top: 94.403892944%;
	left: 87.084148728%;
	font-size: 22px;
	-webkit-filter: blur(1.1px);
	filter: blur(1.1px);
	-webkit-animation: floatReverse2 28s infinite;
	animation: floatReverse2 28s infinite
}

.particle:nth-child(56) {
	top: 80.490797546%;
	left: 46.3054187192%;
	font-size: 15px;
	-webkit-filter: blur(1.12px);
	filter: blur(1.12px);
	-webkit-animation: floatReverse2 37s infinite;
	animation: floatReverse2 37s infinite
}

.particle:nth-child(57) {
	top: 5.8041112455%;
	left: 57.4488802337%;
	font-size: 27px;
	-webkit-filter: blur(1.14px);
	filter: blur(1.14px);
	-webkit-animation: float2 38s infinite;
	animation: float2 38s infinite
}

.particle:nth-child(58) {
	top: 64.2335766423%;
	left: 68.4931506849%;
	font-size: 22px;
	-webkit-filter: blur(1.16px);
	filter: blur(1.16px);
	-webkit-animation: float2 40s infinite;
	animation: float2 40s infinite
}

.particle:nth-child(59) {
	top: 52.6829268293%;
	left: 66.6666666667%;
	font-size: 20px;
	-webkit-filter: blur(1.18px);
	filter: blur(1.18px);
	-webkit-animation: floatReverse 25s infinite;
	animation: floatReverse 25s infinite
}

.particle:nth-child(60) {
	top: 14.7783251232%;
	left: 87.9446640316%;
	font-size: 12px;
	-webkit-filter: blur(1.2px);
	filter: blur(1.2px);
	-webkit-animation: floatReverse2 37s infinite;
	animation: floatReverse2 37s infinite
}

.particle:nth-child(61) {
	top: 55.9509202454%;
	left: 56.157635468%;
	font-size: 15px;
	-webkit-filter: blur(1.22px);
	filter: blur(1.22px);
	-webkit-animation: floatReverse 26s infinite;
	animation: floatReverse 26s infinite
}

.particle:nth-child(62) {
	top: 57.3511543135%;
	left: 86.0215053763%;
	font-size: 23px;
	-webkit-filter: blur(1.24px);
	filter: blur(1.24px);
	-webkit-animation: floatReverse 21s infinite;
	animation: floatReverse 21s infinite
}

.particle:nth-child(63) {
	top: 16.4848484848%;
	left: 84.8780487805%;
	font-size: 25px;
	-webkit-filter: blur(1.26px);
	filter: blur(1.26px);
	-webkit-animation: float2 36s infinite;
	animation: float2 36s infinite
}

.particle:nth-child(64) {
	top: 67.4816625917%;
	left: 81.5324165029%;
	font-size: 18px;
	-webkit-filter: blur(1.28px);
	filter: blur(1.28px);
	-webkit-animation: floatReverse2 29s infinite;
	animation: floatReverse2 29s infinite
}

.particle:nth-child(65) {
	top: 52.0481927711%;
	left: 13.5922330097%;
	font-size: 30px;
	-webkit-filter: blur(1.3px);
	filter: blur(1.3px);
	-webkit-animation: float2 25s infinite;
	animation: float2 25s infinite
}

.particle:nth-child(66) {
	top: 91.8984280532%;
	left: 4.8685491723%;
	font-size: 27px;
	-webkit-filter: blur(1.32px);
	filter: blur(1.32px);
	-webkit-animation: float2 37s infinite;
	animation: float2 37s infinite
}

.particle:nth-child(67) {
	top: 47.8632478632%;
	left: 35.3287536801%;
	font-size: 19px;
	-webkit-filter: blur(1.34px);
	filter: blur(1.34px);
	-webkit-animation: floatReverse 32s infinite;
	animation: floatReverse 32s infinite
}

.particle:nth-child(68) {
	top: 10.6925880923%;
	left: 64.5161290323%;
	font-size: 23px;
	-webkit-filter: blur(1.36px);
	filter: blur(1.36px);
	-webkit-animation: float2 39s infinite;
	animation: float2 39s infinite
}

.particle:nth-child(69) {
	top: 33.0900243309%;
	left: 8.8062622309%;
	font-size: 22px;
	-webkit-filter: blur(1.38px);
	filter: blur(1.38px);
	-webkit-animation: floatReverse 33s infinite;
	animation: floatReverse 33s infinite
}

.particle:nth-child(70) {
	top: 83.8471023428%;
	left: 66.2710187933%;
	font-size: 11px;
	-webkit-filter: blur(1.4px);
	filter: blur(1.4px);
	-webkit-animation: floatReverse2 23s infinite;
	animation: floatReverse2 23s infinite
}

.particle:nth-child(71) {
	top: 45.4655380895%;
	left: 76.9230769231%;
	font-size: 27px;
	-webkit-filter: blur(1.42px);
	filter: blur(1.42px);
	-webkit-animation: floatReverse 21s infinite;
	animation: floatReverse 21s infinite
}

.particle:nth-child(72) {
	top: 67.8966789668%;
	left: 87.8578479763%;
	font-size: 13px;
	-webkit-filter: blur(1.44px);
	filter: blur(1.44px);
	-webkit-animation: floatReverse2 38s infinite;
	animation: floatReverse2 38s infinite
}

.particle:nth-child(73) {
	top: 91.064871481%;
	left: 55.063913471%;
	font-size: 17px;
	-webkit-filter: blur(1.46px);
	filter: blur(1.46px);
	-webkit-animation: float2 32s infinite;
	animation: float2 32s infinite
}

.particle:nth-child(74) {
	top: 85.1897184823%;
	left: 5.8997050147%;
	font-size: 17px;
	-webkit-filter: blur(1.48px);
	filter: blur(1.48px);
	-webkit-animation: float 35s infinite;
	animation: float 35s infinite
}

.particle:nth-child(75) {
	top: 60.1212121212%;
	left: 3.9024390244%;
	font-size: 25px;
	-webkit-filter: blur(1.5px);
	filter: blur(1.5px);
	-webkit-animation: floatReverse 25s infinite;
	animation: floatReverse 25s infinite
}

.particle:nth-child(76) {
	top: 65.8595641646%;
	left: 14.6198830409%;
	font-size: 26px;
	-webkit-filter: blur(1.52px);
	filter: blur(1.52px);
	-webkit-animation: float2 22s infinite;
	animation: float2 22s infinite
}

.particle:nth-child(77) {
	top: 72.2891566265%;
	left: 56.3106796117%;
	font-size: 30px;
	-webkit-filter: blur(1.54px);
	filter: blur(1.54px);
	-webkit-animation: float 34s infinite;
	animation: float 34s infinite
}

.particle:nth-child(78) {
	top: 50.2415458937%;
	left: 71.9844357977%;
	font-size: 28px;
	-webkit-filter: blur(1.56px);
	filter: blur(1.56px);
	-webkit-animation: floatReverse 29s infinite;
	animation: floatReverse 29s infinite
}

.particle:nth-child(79) {
	top: 77.4818401937%;
	left: 25.3411306043%;
	font-size: 26px;
	-webkit-filter: blur(1.58px);
	filter: blur(1.58px);
	-webkit-animation: floatReverse2 21s infinite;
	animation: floatReverse2 21s infinite
}

.particle:nth-child(80) {
	top: .9708737864%;
	left: 69.3359375%;
	font-size: 24px;
	-webkit-filter: blur(1.6px);
	filter: blur(1.6px);
	-webkit-animation: float 32s infinite;
	animation: float 32s infinite
}

@-webkit-keyframes apparition {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100px);
		transform: translateY(100px)
	}

	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes apparition {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100px);
		transform: translateY(100px)
	}

	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@-webkit-keyframes float {
	0%,to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	50% {
		-webkit-transform: translateY(180px);
		transform: translateY(180px)
	}
}

@keyframes float {
	0%,to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	50% {
		-webkit-transform: translateY(180px);
		transform: translateY(180px)
	}
}

@-webkit-keyframes floatReverse {
	0%,to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	50% {
		-webkit-transform: translateY(-180px);
		transform: translateY(-180px)
	}
}

@keyframes floatReverse {
	0%,to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	50% {
		-webkit-transform: translateY(-180px);
		transform: translateY(-180px)
	}
}

@-webkit-keyframes float2 {
	0%,to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	50% {
		-webkit-transform: translateY(28px);
		transform: translateY(28px)
	}
}

@keyframes float2 {
	0%,to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	50% {
		-webkit-transform: translateY(28px);
		transform: translateY(28px)
	}
}

@-webkit-keyframes floatReverse2 {
	0%,to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	50% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px)
	}
}

@keyframes floatReverse2 {
	0%,to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	50% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px)
	}
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: #fff;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: "Open Sans";
	font-weight: 100;
	color: #f2f2f2;
	font-size: 100%;
	margin: 0;
	padding: 0
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-mos-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default
}

.loader .text {
	position: absolute;
	top: 1.8em;
	left: .4em;
	z-index: 5;
	font-size: 2em;
	text-transform: uppercase;
	-webkit-animation: text 2.5s cubic-bezier(.75,0,.5,1) infinite normal;
	animation: text 2.5s cubic-bezier(.75,0,.5,1) infinite normal
}

.spinner {
	position: relative;
	width: 5em;
	height: 5em;
	color: #fff
}

.spinner:after,.spinner:before {
	content: "";
	position: relative;
	display: block
}

.spinner:before {
	-webkit-animation: spinner 2.5s cubic-bezier(.75,0,.5,1) infinite normal;
	animation: spinner 2.5s cubic-bezier(.75,0,.5,1) infinite normal;
	width: 10em;
	height: 10em;
	background-color: #db2f00
}

.spinner:after {
	-webkit-animation: shadow 2.5s cubic-bezier(.75,0,.5,1) infinite normal;
	animation: shadow 2.5s cubic-bezier(.75,0,.5,1) infinite normal;
	position: relative;
	bottom: -1.75em;
	height: .25em;
	border-radius: 50%;
	background-color: #322b27
}

@-webkit-keyframes spinner {
	50% {
		-webkit-border-radius: 50%;
		-webkit-transform: scale(.5) rotate(1turn);
		background-color: #13a3a5
	}

	to {
		-webkit-transform: scale(1) rotate(2turn);
		background-color: #db2f00
	}
}

@-mos-keyframes spinner {
	50% {
		-mos-border-radius: 50%;
		-mos-transform: scale(.5) rotate(1turn);
		background-color: #13a3a5
	}

	to {
		-mos-transform: scale(1) rotate(2turn);
		background-color: #db2f00
	}
}

@keyframes spinner {
	50% {
		border-radius: 50%;
		-webkit-transform: scale(.5) rotate(1turn);
		transform: scale(.5) rotate(1turn);
		background-color: #13a3a5
	}

	to {
		-webkit-transform: scale(1) rotate(2turn);
		transform: scale(1) rotate(2turn);
		background-color: #db2f00
	}
}

@-webkit-keyframes shadow {
	50% {
		-webkit-transform: scale(.5);
		background-color: #322b27
	}
}

@-mos-keyframes shadow {
	50% {
		-mos-transform: scale(.5);
		background-color: #322b27
	}
}

@keyframes shadow {
	50% {
		-webkit-transform: scale(.5);
		transform: scale(.5);
		background-color: #322b27
	}
}

@-webkit-keyframes text {
	0% {
		-webkit-transform: scale(1)
	}

	50% {
		-webkit-transform: scale(.5)
	}

	to {
		-webkit-transform: scale(1)
	}
}

@-mos-keyframes text {
	0% {
		-mos-transform: scale(1)
	}

	50% {
		-mos-transform: scale(.5)
	}

	to {
		-mos-transform: scale(1)
	}
}

@keyframes text {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	50% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

#QPlayer {
	position: fixed;
	overflow: hidden;
	bottom: 62px;
	left: -250px;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease,-webkit-transform .5s ease;
	z-index: 999
}

#QPlayer .left {
	float: left;
	margin-top: 8px
}

#QPlayer .right {
	float: right;
	margin-top: -17px
}

#player {
	float: left;
	width: 250px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	background: #fff;
	box-sizing: border-box
}

#player .cover {
	border: 0 solid #333;
	position: absolute;
	left: 0;
	overflow: hidden;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-khtml-border-radius: 50%;
	width: 60px;
	height: 60px;
	-o-box-shadow: 0 2px 2px #111;
	box-shadow: 0 2px 2px rgba(17,17,17,0)
}